@import "tailwindcss";
@import "tailwindcss-animated";


.about-secondcomponent-card {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.parent-div:hover .about-secondcomponent-card {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.card {
  position: relative;
}

.progress-gradient {
  background: linear-gradient(to right, #f43f5e, #9f1239); 
  transition: width 1s ease; 
}

.top-section-main{
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.5));

}
.about-text-section{
  clip-path: polygon(13% 0, 80% 0%, 100% 0, 100% 85%, 84% 100%, 0 98%, 0% 80%, 0 15%);
  
}
.about-image{
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.second-left-first-div{
 clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 76%, 100% 100%, 96% 89%, 0 89%);
}
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(15px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.animate-card {
  animation: fadeSlideUp 0.6s ease-out forwards;
}
@media (max-width: 640px) {
  .second-left-first-div {
    clip-path: polygon(
      0% 0%, 100% 0%, 100% 80%,
      70% 80%, 70% 100%,
      45% 80%, 0% 80%
    );
  }
}
.about-second-first-img{
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.alijutt{
  clip-path: polygon(0% 15%, 0 0, 15% 0%, 100% 0, 100% 27%, 59% 27%, 59% 82%, 100% 83%, 100% 100%, 15% 100%, 0 100%, 0% 85%);
  
}
